<!DOCTYPE html>
<html>
<head>
  <title>ZUM: Accesso</title>
  <%= stylesheet_link_tag    "intersail_auth/application", media: "all" %>
  <%= javascript_include_tag "intersail_auth/application" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="zum_app_main">
  <div class="zum_app_header" style="border-bottom: 44px solid #de1f26; height: 100px; box-sizing: content-box">
    <img width="70" height="128" id="logo" alt="Araldica Comune di Milano" src="<%= image_path('milano-araldica-interna.png') %>">
    <img width="153" height="37" id="logo-description" alt="Logotipo Comune di Milano" src="<%= image_path('milano-logotipo-interna.png') %>">
    <% if user_signed_in? %>
        <a href="<%= intersail_auth.destroy_user_session_path %>" class="btn btn-primary" data-method="delete" style="float:right; margin-top:20px; margin-right:10px"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
    <% end %>
  </div>

  <div class="zum_app_content">
    <%= yield %>
  </div>

  <div class="zum_app_footer"></div>
</div>

</body>
</html>
